body {
	font-family: "Montserrat", sans-serif;

	color: white;

	margin: 0;

	display: flex;
	flex-direction: column;
}

#overlay {
	display: flex;
	flex-direction: column;

	position: absolute;
	left: 60px;
	bottom: 60px;
}

/* Beatmap */

#beatmap {
	display: flex;
}

#cover {
	overflow: hidden;
	border-radius: 6px;
	position: relative;
}

#image {
	width: 200px;
	height: 200px;
}

#meta {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	padding: 0 35px;
}

#text {
	flex-grow: 1;

	/* Fix text offset */
	transform: translate(0, -5px);
}

#titles {
	display: flex;
	align-items: flex-end;
}

#title {
	font-size: 40px;
	font-weight: 700;
}

#artist {
	display: block;
	font-size: 25px;
	font-weight: 400;
	margin: 5px 0 0 0;
}

/* Progress */

#cover svg {
	transform: rotate(-90deg);
}

#cover div {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 90px;
	height: 90px;
}

#cover svg, #cover div {
	position: absolute;
	top: 0;
	left: 0;
}

#darken {
	fill: black;
	opacity: 0.5;
}

/* Animations and state */

#overlay {
	--show: cubic-bezier(0.19, 1, 0.22, 1) 300ms;
	--hide: cubic-bezier(0.55, 0.085, 0.68, 0.53) 200ms;
}

#overlay #beatmap, #overlay #performance > * {
	transition:
		opacity var(--show),
		transform var(--show);
}

#overlay.hidden #beatmap, #overlay.hidden #performance > * {
	opacity: 0;
	transform: translate(0, 15px);
	transition:
		opacity var(--hide),
		transform var(--hide);
}
